 .u-section-1 {
  min-height: 526px;
}

.u-section-1 .u-image-1 {
  height: 526px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -495px auto 0 calc(((100% - 1140px) / 2) + 357px);
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 11px calc(((100% - 1140px) / 2) + 133px) 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 26px calc(((100% - 1140px) / 2) + 703px) 0 calc(((100% - 1140px) / 2) + 84px);
}

.u-section-1 .u-image-2 {
  width: 31px;
  height: 31px;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 426px);
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -31px calc(((100% - 1140px) / 2) + 173px) 0 calc(((100% - 1140px) / 2) + 614px);
}

.u-section-1 .u-image-3 {
  width: 108px;
  height: 33px;
  margin: -35px calc(((100% - 1140px) / 2) + 100px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 33px calc(((100% - 1140px) / 2) + 703px) 0 calc(((100% - 1140px) / 2) + 84px);
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: -84px calc(((100% - 1140px) / 2) + 132px) 0 calc(((100% - 1140px) / 2) + 570px);
}

.u-section-1 .u-image-4 {
  width: 52px;
  height: 52px;
  margin: 42px calc(((100% - 1140px) / 2) + 495px) 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -44px calc(((100% - 1140px) / 2) + 547px) 0 calc(((100% - 1140px) / 2) + 437px);
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 20px calc(((100% - 1140px) / 2) + 341px) 28px calc(((100% - 1140px) / 2) + 299px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 294px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
    margin-right: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 587px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 426px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 73px);
    margin-left: calc(((100% - 940px) / 2) + 514px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 100px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 587px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 32px);
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 495px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 447px);
    margin-left: calc(((100% - 940px) / 2) + 337px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 241px);
    margin-left: calc(((100% - 940px) / 2) + 199px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 225px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 367px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 426px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 367px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + 100px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 367px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 282px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 495px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 337px);
    margin-left: calc(((100% - 720px) / 2) + 227px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 131px);
    margin-left: calc(((100% - 720px) / 2) + 89px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 169px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 187px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 426px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 187px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 100px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 187px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 102px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2) + 488px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 247px);
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 40px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 440px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 340px) / 2) + 106px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 309px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 340px) / 2) + 100px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 340px) / 2) + 288px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 147px);
    margin-left: calc(((100% - 340px) / 2) + 37px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}