.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  left: 0;
  right: auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 165px auto 0 630px;
}

.u-section-1 .u-text-2 {
  margin: 12px 60px 0 630px;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -391px auto 0 60px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 12px 630px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 519px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 519px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 398px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 398px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 188px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}